<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>eShop</title>
   <link rel="stylesheet" href="style.css">
   <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
   <script src="script.js"></script>
</head>

<body>
   <div id="root">
      <header>
         <h1 class="title">TestShop</h1>
         <div class="search">
            <form id="inputError" @submit="checkForm"
               action="https://raw.githubusercontent.com/GeekBrainsTutorial/online-store-api/master/responses/"
               method="post">
               <p v-if="errors.length">
                  <b>Пожалуйста исправьте указанные ошибки:</b>
               <ul>
                  <li v-for="error in errors">{{ error }}</li>
               </ul>
               </p>
               <input type="text" class="goods-search" v-model="search" required placeholder="Только русские буквы" />
               <custom-button v-on:click="filterItems">Поиск</custom-button>
            </form>
         </div>
         <div class="actions">
            <custom-button v-on:click="setVisionCard">Корзина</custom-button>
         </div>
      </header>
      <main>
         <div class="goods-list">
            <goods-item v-for="item in filteredItems" v-bind:item="item"></goods-item>
         </div>
      </main>
      <basket-goods v-if="cardIsVision" v-on:closeclick="setVisionCard"></basket-goods>

      <div>{{ calculatePrice }}</div>
   </div>
</body>

</html>